@use "./../utils/variables";
@use "./../utils/mixins";
@use "./../utils/animat";
.img_restaurant {
  object-fit: cover;
  width: 100%;
  height: 383px;
  @media (max-width: 1024px) {
    height: 275px;
  }
}
.menus {
  position: relative;
  display: grid;
  gap: 12px;
  padding: 0 30px 0px 30px;
  background-color: $background-resto-color;
  border-radius: 40px 40px 0 0;
  width: 80%;
  margin: auto;
  margin-top: -37px;
  @media (max-width: $breakpoint) {
    width: 100%;
    padding: 0 15px 20px 15px;
  }
  h3 {
    margin: 37px 0 47px 0;
    @include sizing(100%, 41px);
    @media (max-width: $breakpoint-two) {
      @include sizing(100%, 27px);
      text-align: start;
      padding-right: 26px;
    }
    &::before {
      @include fas-heart(400, 1, black, 187px, 41px);
      @media (max-width: $breakpoint-two) {
        @include fas-heart(400, 1, black, 10px, 41px);
      }
    }
    &::after {
      @include fas-heart(900, 0, transparent, 187px, 41px);
      background-image: linear-gradient($secondary-color, $prymary-color);
      @media (max-width: $breakpoint-two) {
        @include fas-heart(900, 0, transparent, 10px, 41px);
      }
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  .menu-card {
    padding: 16px;
    @extend %over-flow;
    p,
    h5 {
      @extend %over-flow;
    }
  }
  .price {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    padding: 16px;
  }
  // usage forLoop "slack" des nth-child de chaques élements de la liste menu
  &__elements {
    @for $i from 3 through 14 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }
    display: flex;
    @extend %over-flow;
    height: 69px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    @include shadow-btn(4px,15px,.1);
    animation: scale-list .5s;
    animation-fill-mode: backwards;
    .validation {
      @extend %grid;
      background-color: $tertiary-color;
      color: white;
      margin-right: -55px;
      width: 55px;
      flex-shrink: 0;
      transition: all 300ms;
    }
    .fa-solid {
      font-size: 20px;
    }
    &:hover {
      .validation {
        margin-right: 0;
      }
      i {
        animation: anim-list 1s ease-in-out;
      }
    }
  }
}
