@use "./../utils/mixins";
@use "./../utils/variables";
@use "./../utils/animat";

.spin-loader{
    position: fixed;
    z-index: 1;
    background-color: white;
    height: 100vh;
    inset: 0;
    opacity: .85;
    animation: clear-loader forwards 2.7s;
    @include flex-type(row,justify-content,0px);
    }
.sphere{
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    @include sizing(50px, 50px);
    @include typo-txt (39px,bolder);
    @extend %grid;
    font-family: $titles-logo-font;
    animation: slide-loader forwards 1.5s;
    animation-duration: 0.7s;
    animation-iteration-count: 2;
    @media (max-width:$breakpoint-two){
        @include sizing(30px, 30px);
        @include typo-txt (19px,bolder);
        animation: slide-loader2 forwards 1.5s;
        animation-duration: 0.75s;
        animation-iteration-count: 2;
    }
     &.s1,&.s2{
        background-color: $secondary-color;
        animation-delay: .0s;
    }
    &.s3,&.s4{
        background-color: $prymary-color;
        animation-delay: .3s;
     }
    &.s5{
        background-color: $tertiary-color;
        animation-delay: .6s;
    }
}