@use "./mixins";
@use "./variables";
// anim-list pour le check au hover dans les lignes de menu
@keyframes anim-list {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-list {
  0%{
    transform: translatey(50%);
    opacity: 0;
  }
  100%{
    transform:translatey(0);
    opacity: 1;
  }
  
}
@keyframes clear-loader {
0%,95%{
  transform: scale(1);
  }
100%{
  transform: scale(0);
}
}
@keyframes slide-loader {
  0%{top: 0;}
  50%{transform: scale(2);opacity: .5;}
  80%{transform: scale(1)}
  100%{top: 47%;transform: scale(2.558);}
  }
@keyframes slide-loader2 {
  0%{top: 0; transform: scale(1);}
  50%{transform: scale(.5);opacity: .5;}
  80%{transform: scale(1.4)}
  100%{top: 47%;transform: scale(1);}
  
}