$titles-logo-font: "shrikhand,cursive";
$font-txt: "roboto,sans-serif";
$prymary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footer_color: #353535;
$color-li-fonctionnement: #7e7e7e;
$color-locolisation: #eaeaea;
$background-resto-color: #f6f6f6;
$breakpoint: 1024px;
$breakpoint-two: 768px;
